<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css" type="text/css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">

    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
</head>
<body style='background: url("../img/background.svg") #f0f2f5 no-repeat 50%;background-size: 100%; padding: -20px 0 144px;
      position: relative;'>
<div style="margin: 200px 500px" id="app">
    <div>
            <el-form ref="dataAddForm"  :rules="rules" label-position="right" label-width="100px" :model="formData" >
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="用户名" prop="username">
                            <el-input v-model="formData.username" placeholder="请输入用户名" style="width: 200px;" />
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>

                    <el-col :span="12">
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="formData.password" placeholder="请输入密码" style="width: 200px;" type="password"/>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="12">
                        <el-form-item label="身份证" prop="idCard">
                            <el-input v-model="formData.idCard" placeholder="请输入身份证" style="width: 200px;" />
                        </el-form-item>
                    </el-col>
                </el-row>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="add()" style="margin-left: 100px">注册</el-button>
                <a href="login.html" style="margin-left: 60px">前往登录</a>
            </div>

    </div>
</div>

</body>
</html>
<script>

    var vue = new Vue({
        el: '#app',
        data: {
            formData:{},
            rules: {//校验规则
                username: [{ required: true, message: '用户名为必填项', trigger: 'blur' }],
                password: [{min: 6, max: 16, message: '密码长度必须在6到16位之间', trigger: 'blur' }],
                idCard: [{ pattern: /^[0-9]{18}$/, message: '请输入正确位数的身份证号码', trigger: 'blur'  }],
            },
        }
        ,methods:{
            add() {
                // 校验表单输入项是否合法
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        // 检查用户名是否重复
                        axios.get("/user/checkUsername/" + this.formData.username).then((response) => {
                            if (response.data.exists) {
                                this.$message.error("用户名已存在");
                            } else {
                                this.formData.type = 2; // 设置用户类型为普通用户
                                // 表单数据校验通过，发送ajax请求将表单数据提交到后台
                                axios.post("/user/Save", this.formData).then((response) => {
                                    this.$message({
                                        message: "注册成功",
                                        type: 'success'
                                    });
                                }).catch((error) => {
                                    if (error.response && error.response.status === 409) {
                                        this.$message.error("用户名已存在，请使用其他用户名");
                                    } else {
                                        this.$message.error("用户名已存在，请使用其他用户名");
                                    }
                                });
                            }
                        });
                    } else {
                        this.$message.error("表单数据校验失败");

                        return false;

                    }
                });
            }
        }

    });
</script>
